.DS_Store
venv/
.venv/
__pycache__/
*.py[cod]
.ipynb_checkpoints/
models/
predictions/
demo_predictions/
runs/
alternative_models
interns_2025
.DS_Store
.env
.env.*
*.log
*.tfevents.*
*.pt
*.pth
*.ckpt
*timeseries*.png
.vscode/
.idea/
CHRL_data/backup/*
CHRL_data/sites/*
internal/